<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}Devour!{{else}}Sorry, already devoured!{{/if}}
	</button>

	<button class="devour" data-id="{{this.id}}">Devour!</button>
</li>
